<!DOCTYPE html>
<meta charset="UTF-8">

<style type="text/css">
  #selector {
  text-align: center;
  width:600px;
  margin:0 auto;
  }
  #wrap {
  width:600px;
  margin: 0 auto;
  }
  #facts {
  float:left;
  width:300px;
  line-height:40px
  }
  #pic {
  float:right;
  width:300px;
  }
</style>
<html>
  <body>
    <title> {{ title }} </title>
    
    <div id="selector">
      <h2>City Selector</h2>
      <form method="POST" action="{{ url_for('redir') }}">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"></span>
            <select name="new_cid" width="300px" method="post">
              <option value="">Choose</option>
              {% for x in cities %}
              <option value="{{ x }}">{{ x }}</option>
              {% endfor %}
            </select>
          </div>
          <button type="submit"> Go </button>
        </div>
      </form>
    </div>
    
    <div id="wrap" >
      <center><h1> {{ city }} </h1></center>
      <div id="facts" >
        Current Mayor: {{ mayor }} <br>
        Government Structure: {{ gtype }} <br>
        Official website: <a href={{ website }}> {{ website }} </a><br>
      </div>
      <div id="pic" >
        <img src='{{ img }}' />
      </div>
    </div>

  </body>
</html>

    
